*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordBox{
  width: 400px;

 
  padding: 20px;
  background-color: #E5F4E3;
}
.passwordBox h1{
  text-align: center;

  margin-bottom: 30px;
}

.passwordBoxin{
  display: flex;
}

.passwordBoxin input{
  flex-basis: 80%;
  padding-left: 5px;
  border-radius: 5px;
}
.passwordBoxin button{
  background-color: #5DA9E9;
  border-radius: 5px;
  flex-basis: 20%;
  padding: 10px 0px;
  margin-left: 2px;
}

.passLength{
  display: flex;
  padding: 10px 0px;
  align-items: center;
  justify-content: space-between;
}
.passLength label{
 
}

.passLength input{
 padding: 10px 0px;
 padding-left: 5px;
 width: 60px;
 border-radius: 5px;
 height: 17px;
}

.passLength > input[type="number"] {
  height: 3px;
}
.btn{
  background-color: #5DA9E9;
  border-radius: 5px;
  font-size: 20px ;
width: 100%;
padding: 10px 0px;
cursor: pointer;
margin-top: 5px;
}